.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input, .custom-combobox-small {
    margin: 0;
    padding: 5px 10px;
  }
  /* Chrome only: */
  * { 
    padding:0px;
    margin:0px;
  }
  body {
    height: 100%;
    margin: 0;
    /* font-size: 14.25px; */
  }
  .leaflet-container {
    /* width:797px; */
    height:600px;
    max-width: 100%;
    max-height: 100%;
  }
  .scrollable {
    background-color: #fff;
    width: 48%;
    height: 600px;
    overflow: auto;
    /* padding: 20px; */
    margin: 0 10px 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 1.2em;
  }
  tr:hover {
    background-color: rgb(249,249,249);
  }
  .sui-input {
    font-size:1.3em !important;
  }
  .custom-combobox-input {
    width: 200px;
  }
/*   .custom-combobox-input-small {
    width: 88px;
    height: 36px;
  } */
  #checkbox-container {
   /*  position: relative;
    top:-42px;
    left:53%; */
  }
    .field-container {
      /* position: relative; */
      padding: 0;
      /* margin: 0; */
      border: 0;
      width: 330px;
      height: 40px;
     /*  left: 51%;
      margin-bottom: 10px;
      top: -13%; */
      float: right;
      margin-right: 63px;
      margin-bottom: 35px;
    }

.field {
border: 1px solid #c5c5c5;
width: 100%;
height: 100%;
padding: 10px 20px;
background: rgb(249,249,249);
/*   border-radius: 3px;
box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1); */
transition: all 0.4s ease;
}
.icons-container {
position: absolute;
top: 5px;
right: 7px;
width: 35px;
height: 35px;
overflow: hidden;
}
.icon-search {
position: relative;
top: 5px;
left: 8px;
width: 50%;
height: 50%;
opacity: 1;
border-radius: 50%;
border: 3px solid #c7d0f8;
transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-search::after {
content: "";
position: absolute;
bottom: -9px;
right: -2px;
width: 4px;
border-radius: 3px;
transform: rotate(-45deg);
height: 10px;
background-color: #c7d0f8;
}
.icon-close {
position: absolute;
top: 2px;
left: 2px;
width: 75%;
height: 75%;
opacity: 0;
cursor: pointer;
transform: translateX(-200%);
border-radius: 50%;
transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close::before {
content: "";
border-radius: 50%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
border: 2px solid transparent;
border-top-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
border-top-color: #6078EA;
border-left-color: #6078EA;
border-bottom-color: #6078EA;
transition: opacity 0.2s ease;
}
.icon-close .x-up {
position: relative;
width: 100%;
height: 50%;
}
.icon-close {
cursor: pointer;
}
.icon-close .x-up::before {
content: "";
position: absolute;
bottom: 2px;
left: 3px;
width: 50%;
height: 2px;
background-color: #6078EA;
transform: rotate(45deg);
}
.icon-close .x-up::after {
content: "";
position: absolute;
bottom: 2px;
right: 0px;
width: 50%;
height: 2px;
background-color: #6078EA;
transform: rotate(-45deg);
}
.icon-close .x-down {
position: relative;
width: 100%;
height: 50%;
}
.icon-close .x-down::before {
content: "";
position: absolute;
top: 5px;
left: 4px;
width: 50%;
height: 2px;
background-color: #6078EA;
transform: rotate(-45deg);
}

.icon-close .x-down::after {
content: "";
position: absolute;
top: 5px;
right: 1px;
width: 50%;
height: 2px;
background-color: #6078EA;
transform: rotate(45deg);
}

/* popover */


/* popover */
details[data-popover] {
display: inline;
position: relative;
}
details[data-popover] > summary:focus {
outline: none;
}
details[data-popover] > summary::-webkit-details-marker {
display: none;
}
details[data-popover] > summary {
list-style: none;
text-decoration: underline dotted teal;
}
details[data-popover] > summary + * {
position: absolute;
display: block;
z-index: 1;
width: 350%;
border: solid 1px teal;
border-radius: 5%;
padding: 10px;
background: white;
}
details[data-popover] > * + * {
/* hide detail elements that would ruin the popover */
display: none;
}
details[data-popover="up"] > summary + * {
bottom: calc(0.5rem + 100%);
right: 50%;
transform: translateX(50%);
}
details[data-popover="down"] > summary + * {
top: calc(0.5rem + 100%);
right: 50%;
transform: translateX(50%);
}
details[data-popover="left"] > summary + * {
right: calc(1rem + 100%);
bottom: 50%;
transform: translateY(50%);
}
details[data-popover="right"] > summary + * {
left: calc(1rem + 100%);
bottom: 50%;
transform: translateY(50%);
}

/* for search box */
* {box-sizing: border-box;}

body {
/*  margin: 0; */
font-family: Arial, Helvetica, sans-serif;
}

/*.topnav { */
/*     overflow: hidden;
background-color: #e9e9e9; */
/*  } */

/*   .topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #2196F3;
color: white;
} */

.topnav .search-container {
float: right;
margin-right: 10px;
/* position:relative;
left: -10px; */
/* top: -10px;
margin-right: -158px;
margin-top: -10px; */
}

.topnav input[type=text] {
/* padding: 6px; */
padding: 10px;
/*  margin-top: 8px; */
font-size: 17px;
border: 1px solid rgba(0, 0, 0, 0.1);
}

.topnav .search-container button {
float: right;
padding: 11px 10px;
/*     margin-top: 9px;
margin-right: 16px; */
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

.topnav .search-container button:hover {
/* background: #ccc; */
}

@media screen and (max-width: 600px) {
.topnav .search-container {
  float: none;
}
.topnav a, .topnav input[type=text], .topnav .search-container button {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;  
}
}

.bat {
width: 1.5em;
height: 1.5em;
}

/* loading */
.spin-container {
  text-align: center;
  margin-top: 100px;
}
.spin {
  border: 3px solid #0D4B9F;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #E0EDFF;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #005CDC;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #94B6E5;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
#text {
  color: #000;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}
/* end loading */