<div class="row" id="data-area" style="display: none">
    <div class="col-md-6 scrollable">
      <table style="width:100%" id="data-table"></table> 
    </div>
  
    <div id="map-container" class="col-md-6">
      <div id="map" style="height:100%;z-index:1;">map</div>
    </div>
  </div>
  
  <!-- <div class="row"> 
    <div class="col-md-6" style="margin-top:1.5em;margin-bottom:1em;padding:1em;background-color:silver;margin-left:30%">
      <p style="font-size: 37px;text-align:center;">Quiero ayudar con <b><span id="selectNecesity">(clica en alguna de las necesidades)</span></b></p>
    <form action="" method="get">
      <p>Seudónimo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="seudonim" name="seudonim"></p>
      <p>Cantidad aprox. <input type="number" id="quantity" name="quantity"></p>
      <p>
        <label for="w3review">Campo abierto &nbsp;</label>
        <textarea id="w3review" name="w3review" rows="4" cols="50" style="width:650px"></textarea> 
      </p>
      <button type="button" class="btn btn-secondary" onclick="console.log('clicked')">Enviar</button>
    </form>  
    </div>
  </div> -->
  
  <script>
    console.log("from dones views! :)", conf)   
    init();
  
    async function init() {
      console.log("page dones", window.location.hash);
      const page = window.location.hash;
      let splitted = page.split("/");
      console.log("splitted first dones", splitted)
      splitted[0] = splitted[0].substring(1);
      console.log("splitted second dones", splitted)

      conf.mapCharged = true;
      console.log("antes map")
      map = L.map('map').setView([43.3418969,-1.8073705], 15);
      const tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(map);
      const communityIndex = conf.comunities.findIndex(el => el === splitted[0]);
      console.log("communityIndex", communityIndex)
      conf.comunities = [...conf.comunities.slice(communityIndex), ...conf.comunities.slice(0, communityIndex)]
      console.log("conf.comunities", conf.comunities)
      
      $(".page-container-title").empty().append(`Estos son los dones de 
      <b id="checkbox-container" style="display:inline-block;">
        <div class="ui-widget">
          <select id="combobox">
            <option value="irun">Irun</option>
            <option value="egia">Egia</option>
            <option value="tolosa">Tolosa</option>
            <option value="legazpi">Legazpi</option>
          </select>
        </div>
      </b>`);

      $("#donesButton").html(`<a class="btn ${splitted[0]}/${splitted[1] === "dones" ? "btn-error" : "btn-success"}" href="#${splitted[0]}/${splitted[1] === "dones" ? "necesidades" : "dones"}" role="button" style="float:right;background-color:${splitted[1] === "dones" ? "red" : "#198754"};cursor:pointer;font-size:1.2em;border-radius:0;margin-left:8px;margin-bottom:10px;padding-bottom:10px;background-image:unset;color:#fff" title="Ver ${splitted[1] === "dones" ? "las necesidades" : "los dones"} de esta comunidad">${splitted[1] === "dones" ? "Necesidades" : "Dones"}</a>`);
      $("#donesButtonMenu").html(`<a class="btn ${splitted[0]}/${splitted[1] === "dones" ? "btn-error" : "btn-success"}" href="#${splitted[0]}/${splitted[1] === "dones" ? "necesidades" : "dones"}" role="button" style="float:right;background-color:${splitted[1] === "dones" ? "red" : "#198754"};cursor:pointer;font-size:1.2em;border-radius:0;margin-left:8px;margin-bottom:10px;padding-bottom:10px;background-image:unset;color:#fff" title="Ver ${splitted[1] === "dones" ? "las necesidades" : "los dones"} de esta comunidad">${splitted[1] === "dones" ? "Necesidades" : "Dones"}</a>`);
  
      console.log("comunidad4", splitted[0], splitted[1])
      conf.necesidades = JSON.parse(await $.post( "https://jllg1.herokuapp.com/search", {
        "type": splitted[1],
        "community": [`${splitted[0]}`] 
      }))
      console.log("pasa necesidades", conf.necesidades)
      conf.necesidades.map((marker,x) => {
        // console.log("ENTRA", marker);
        paintPoints(marker, x);
      })
    }
  </script>